/* --------------------- About Us Section ---------------------  */
.about-section {
    padding-top: 120px;
    padding-bottom: 160px;
    position: relative;
}

.about-container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.plant,
.smallBean {
    width: 100%;
    opacity: 1;
    position: absolute;
}

.plant {
    right: 0;
    bottom: 0;
    max-width: 385px;
    opacity: 1;
}

.smallBean {
    top: 10%;
    right: 22%;
    max-width: 88px;
}

.about-image-wrap {
    max-width: 596px;
    overflow: hidden;
}

.about-image-wrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-content {
    font-family: Alpino, sans-serif;
    margin-left: 20px;
    z-index: 1 !important;
    padding: 20px;
}

.about-small-label {
    font-size: clamp(10px, 1.1vw, 18px);
    font-weight: 500;
    line-height: 1.111em;
    color: #d69e3d;
    letter-spacing: 0.5px;
}

.about-title {
    color: #130e0a;
    margin-top: 10px;
    font-size: clamp(35px, 4.1vw, 50px) !important;
    line-height: 1.28em;
    font-weight: 900;
    margin-bottom: 20px;
}

.about-text {
    color: #373533;
    font-weight: 400;
    font-size: clamp(10px, 2vw, 18px) !important;
    line-height: 1.667em;
    margin-bottom: 26px;
}

/*-------------------- About Us Section  TABLET Design --------------------*/

@media (max-width: 998px) {

    .about-section {
        padding: 0;
    }

    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
        width: 95%;
        flex-direction: column;
    }

    .plant {
        right: 0;
        top: 14%;
        max-width: 260px;
    }

    .smallBean {
        top: 5%;
        left: 12%;
        max-width: 68px;
    }


    .about-image-wrap {
        width: 100%;
        height: auto;
        order: 2;
        z-index: 1;
        max-width: 90%;
        margin: 0 auto;
    }

    .about-content {
        margin-left: 0;
        order: 1;
        width: 90%;
        margin: 0 auto;
        align-items: center;
    }

    .about-title {
        font-size: clamp(24px, 5.5vw, 40px);
        line-height: 1.3em;
        margin-bottom: 25px;

    }

    .about-text {
        font-size: clamp(10px, 2vw, 18px);
        margin-left: auto;
        margin-right: auto;
    }

    .learn-more-btn {
        margin: 0 auto;
        padding: 20px;
        width: 40% !important;
    }

    .about-small-label {
        font-size: clamp(10px, 1.6vw, 16px);
    }

}


/*-------------------- About Us Section MOBILE DESIGN --------------------*/

@media (max-width: 650px) {

    .plant {
        max-width: 200px;
    }

    .smallBean {
        left: 9%;
        max-width: 58px;
    }

    .about-title {
        font-size: clamp(22px, 5vw, 34px) !important;
        line-height: 1.22em;
    }

    .about-text {
        font-size: clamp(10px, 2.2vw, 16px);
    }

    .learn-more-btn {
        width: 65% !important;
        font-size: 12px !important;
    }
}



