.heroSection {
  position: relative;
}

.heroSection::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  background-image: url("https://cdn.prod.website-files.com/63457232aa921b4c927c7246/6345e0d65745f42985221831_coffeebar-x-home-hero_1_11zon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  min-height: 1000px;
  position: relative;
}

.caffeineContent {
  position: relative;
  display: flex;
  color: #ffffff;
  margin-top: 20px;
  z-index: 1 !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.caffeineTitle {
  font-family: Alpino, sans-serif;
  font-weight: 900;
  font-size: clamp(50px, 3.7vw, 66px);
  width: 60%;
  line-height: 1.2;
}

.caffeineDescription {
  font-family: Hauora, sans-serif;
  font-size: clamp(14px, 3vw, 18px);
  max-width: 620px;
  font-weight: 400;
  line-height: 1.667em;
}

.heroLogoWrapper {
  margin-bottom: 10px;
  max-width: 250px;

  img {
    width: 100%;
  }
}


.leftBean {
  position: absolute;
  right: 1%;
  opacity: .29;
  top: 28%;
}

.rightBean {
  position: absolute;
  left: 0;
  bottom: 37%;
}



/* ====================== TABLET (max-width: 992px) ====================== */
@media (max-width: 998px) {

  .container {
    background-position: center;
    min-height: 830px;
  }

  .caffeineTitle {
    width: 100%;
    font-size: clamp(32px, 3.6vw, 56px);

  }

  .caffeineDescription {
    max-width: 500px;
    font-size: clamp(10px, 3vw, 17px);

  }

  .heroLogoWrapper {
    margin-bottom: 0;
    max-width: 220px !important;



  }

  .caffeineContent {
    gap: 1rem;
    margin-top: 0;

  }

  .leftBean {
    max-width: 30px;
  }

  .rightBean {
    max-width: 30px;
  }
}

@media (max-width: 650px) {
  .container {
    min-height: 700px;
  }

  .caffeineContent {
    padding: 10px;
  }

  .caffeineTitle {
    font-size: clamp(25px, 3vw, 38px);
    width: 65% !important;
  }

  .caffeineDescription {
    font-size: clamp(10px, 3.2vw, 16px);

  }

  .heroLogoWrapper {
    max-width: 200px !important;
  }

  .caffeineContent {
    gap: 5px;

  }

}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}


.category-btn {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.category-btn.active {
  border-bottom: 2px solid #c79f49;
  color: #c79f49;
}


.css-1bug3cd-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff;
  background-color: #d69e3d !important;
}


.css-8uzxat-MuiSvgIcon-root-MuiPaginationItem-icon {

  display: none !important;
}