* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #d69e3d #f4f0e9;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  /* background-color: #f4f0e9; */
}


body {
  background-color: #f4f0e9;

}






.not-found-section {
  background-color: #f7efe7;
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  font-family: "Alpino", sans-serif;
}


.not-found-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 720px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.not-found-404 {
  margin-bottom: 25px;
  font-size: 220px;
  font-weight: 900;
  line-height: 1em;
}


.not-found-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.136em;
}

.not-found-text {
  font-size: 18px;
  font-weight: 400;
  margin: 1rem auto;
  line-height: 1.667em;
  max-width: 580px;
  line-height: 1.7;
  color: #66635f;
}

.not-found-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.not-font-btn {
  background-color: #130e0a;
  color: white;
  letter-spacing: .02em;
  padding: 25px;
  font-weight: 900;
  transition: .5s;
  line-height: 1.125em;
}

.nf-primary {
  background-color: #221f1b;
  color: #fff6ed;
}

.nf-secondary {
  padding: 25px 27px;
  overflow: hidden;
  border: 2px solid #130e0a;
}

.not-font-btn:hover {
  background-color: #d69e3d !important;
  border: 2px solid #d69e3d;

  transform: translateY(-3px);

}

.nf-secondary:hover {
  color: #ffffff !important;
}

.nf-secondary {
  color: #221f1b;
  background-color: transparent;
}