/* --------------------- Special Coffee Section ---------------------  */
.special-coffee-section {
    padding: 100px 0;
    position: relative;
}

.special-coffee-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

.specialBean1,
.specialBean2 {
    position: absolute;
    opacity: 1;
    max-width: 98px;
}

.specialBean1 {
    top: 9%;
    right: 44%;
}

.specialBean2 {
    top: 7.5%;
    left: 44.5%;
}


.special-title {
    text-align: center;
    z-index: 1 !important;

    font-family: Alpino, sans-serif;
}

.special-title span {
    font-size: clamp(14px, 1.1vw, 18px);
    font-weight: 500;
    line-height: 1.111em;
    color: #d69e3d;
    letter-spacing: 0.5px;
}

.special-title h2 {
    color: #130e0a;
    font-size: clamp(33px, 2.9vw, 48px) !important;
    margin-top: 8px;
    font-weight: 900;
    line-height: 1.28em;
}

.special-items {
    display: flex;
    width: 85%;
    gap: 1rem;
    justify-content: space-around;
    margin: 0 auto;
    align-items: stretch;
}

.special-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: black;
}

.special-item img {
    width: 160px;
    object-fit: cover;
}

.special-item h3 {
    font-size: clamp(12px, 2.9vw, 28px);
    margin: 1rem 0 !important;
    font-weight: 900;
    line-height: 1.286em;
    text-align: center;
    color: #130e0a;
}

.special-item p {
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 400;
    max-width: 339px;
    text-align: center;
    line-height: 1.667em;
    color: #373533;
}


/*-------------------- SPECIAL COFFEE  TABLET Design --------------------*/
@media (max-width: 998px) {

    .special-items {
        flex-direction: column;
        align-items: center;
    }

    .special-title h2 {
        font-size: clamp(30px, 3vw, 40px) !important;
    }

    .special-item img {
        width: 150px;
        height: auto;
    }

    .special-item p {
        font-size: clamp(10px, 2.5vw, 16px) !important;
        max-width: 420px;
    }

}

/*-------------------- SPECIAL COFFEE  MOBILE Design --------------------*/

@media (max-width: 650px) {

    .special-title span {
        font-size: clamp(10px, 2.8vw, 16px) !important;
    }

    .special-title h2 {
        font-size: clamp(22px, 4.5vw, 35px) !important;
    }

    .special-item img {
        width: 100px;
        height: auto;
    }

    .special-item h3 {
        margin: 0.4rem 0 !important;
    }

    .special-title span {
        font-size: clamp(10px, 1vw, 15px);
    }

}