/* --------------------- Nearst Coffee Section ---------------------  */
.nearst-coffee-container {
    position: relative;
    width: 100%;
    min-height: 700px;
    background-image: linear-gradient(#000000b0, #000000b0), url("https://cdn.prod.website-files.com/63457232aa921b4c927c7246/6346c9a3d7026b048e61ee75_coffeebar-x-our-menu-%26-our-location.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
}

.nearst-top-wave {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
}

.nearst-bottom-wave {
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 3;
}

.nearst-top-wave img,
.nearst-bottom-wave img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.nearst-content {
    position: relative;
    z-index: 4;
    min-height: 700px;
    margin: 0 auto;
    font-family: Alpino, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1220px;
    padding: 1rem;
}

.nearst-left,
.nearst-right {
    width: 100%;
    max-width: 520px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nearst-small-title {
    display: inline-block;
    font-size: clamp(13px, 1vw, 18px);
    font-weight: 500;
    line-height: 1.11em;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.nearst-big-title {
    margin-bottom: 20px;
    font-weight: 900;
    line-height: 1.28em;
    font-size: clamp(30px, 2.6vw, 50px);
    color: white;
}

.nearst-divider {
    width: 1px;
    height: 225px;
    background: white;
    opacity: 0.3;
}

.nearst-left button,
.nearst-right button {
    margin-top: 10px;
}


/*-------------------- NEARST TABLET DESIGN --------------------*/

@media (max-width: 998px) {

    .nearst-content {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nearst-divider {
        height: 1px;
        width: 90%;
    }

    .nearst-big-title {
        font-size: clamp(32px, 2.5vw, 46px);
    }

    .nearst-small-title {
        margin-bottom: 6px;
        font-size: clamp(16px, 1vw, 18px);
    }

    .nearst-big-title {
        width: 100%;
        font-size: clamp(22px, 2.9vw, 36px);
    }

    .nearst-small-title {
        font-size: clamp(14px, 1vw, 56px);
    }

    .explorebtn,
    .view-btn {
        width: 100% !important;
        max-width: 190px !important;
        font-size: clamp(12px, 2vw, 15px);
    }

}

/*-------------------- NEARST MOBILE DESIGN --------------------*/

@media (max-width: 650px) {

    .nearst-big-title {
        width: 100%;
        font-size: clamp(22px, 2.9vw, 36px);
    }

    .nearst-small-title {
        font-size: clamp(14px, 1vw, 56px);
    }

    .explorebtn,
    .view-btn {
        width: 100% !important;
        max-width: 190px !important;
        font-size: clamp(12px, 2vw, 15px);
    }

}