.basket-section {
  padding: 120px 0;
  background-color: #f4f0e9;

}

.basket-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.empty-basket-text {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

.basket-list {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basket-item {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 1rem;
  border-radius: 14px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
  position: relative;
}

.basket-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 14px;
}

.basket-info h3 {
  font-size: 22px;
  margin: 1rem 0;
  font-weight: 700;
}

.basket-size,
.basket-qty {
  font-size: 15px;
  color: #555;
  margin: 2px 0;
}

.basket-prices {
  display: flex;
  align-items: center;
  gap: 10px;

}

.price {
  font-size: 20px;
  font-weight: 700;
  color: #c0392b;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

.single-price {
  color: #c79f49;
}

.buy-btn {
  margin-top: 10px;
  padding: 10px 18px;
  border: none;
  background: #0f0f0f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.buy-btn:hover {
  background: #333;
}

.basket-title-sm {
  font-size: 16px;
  font-weight: 600;
  color: #444;
  max-width: 540px;
  margin: 1rem 0;
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 47px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 15px;
}

.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

.trash {
  position: absolute;
  top: 14px;
  right: 14px;
}

.basket-qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f8f5ef;
  padding: 6px 12px;
  border-radius: 12px;
  border: 2px solid #d8c9a9;
  width: fit-content;
  margin-bottom: 10px;
}

.basket-qty-box button {
  width: 32px;
  height: 32px;
  background: white;
  border: 2px solid #d6c7a3;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.basket-qty-box span {
  font-size: 20px;
  font-weight: 600;
}

.basket-size-text {
  font-size: 14px;
  color: #6b6b6b;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: 500;
}


.sale-basket {
  background: #c0392b;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  position: absolute;
  left: 16px;
  font-weight: 700;
  border-radius: 6px;
  letter-spacing: 1px;

}


.sale-badge-drinks {
  top: 70px;

}

.sale-badge-food {
  top: 50px;

}
.gif-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.gif-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
}